.link {
    @apply font-semibold underline text-brand-primary hover:text-brand-link-hover
}

h1, h2, h3, h4, h5, h6 {
  @apply font-headings;
}

html {
  @apply font-main antialiased;
}

@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* AI Chatbot styling */

.sc-message-list .sc-message--content.received .sc-message--text {
  margin-right: 0;
}

.sc-message--text a {
  font-size: 14px;
  word-break: break-word;
}

.sc-message--content.sent .sc-message--text {
  max-width: calc(100% - 100px);
}

.sc-message--text {
  padding: 5px 0.75rem;
  font-size: 1rem;
}

.talk-bubble-right.tri-right.right-in.round::after {
  right: -12px;
}

div#chat_app div.sc-suggestions-row button.sc-suggestions-element {
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

div#chat_app div.sc-suggestions-row button.sc-suggestions-element:hover {
  background: rgb(var(--primary-color));
  color: white !important;
}

div#chat_app .sc-launcher {
  border: 1px solid white;
  width: 70px;
  height: 70px;
  overflow: hidden;
  bottom: 33px;
  z-index: 1;
}

div#chat_app img.sc-open-icon {
  width: 75px;
  height: 50px;
  bottom: 60px;
  right: 0px;
}

div#chat_app .round {
  z-index: 1;
}

div#chat_app img.sc-closed-icon {
  width: 30px !important;
  height: 30px !important;
  bottom: 50px !important;
  right: 0 !important;
  translate: 65%;
}

div#chat_app .sc-launcher::before {
  width: 70px;
  height: 70px;
}

div#chat_app .sc-header {
  border: 1px solid white;
}

div#chat_app .talk-bubble-right {
  bottom: 40px;
}

div#chat_app .sc-launcher.opened::before {
  box-shadow: none;
}

div#chat_app .sc-chat-window {
  bottom: 110px;
}

div#chat_app .sc-new-messsages-count {
  position: fixed;
  right: 25px;
  bottom: 80px;
  top: unset;
  left: unset;
}

@media (max-width: 590px) {
  .sc-user-input--picker-wrapper div.sc-emoji-picker {
    width: calc(100vw - 50px);
  }
}