.link {
    @apply font-semibold underline text-brand-primary hover:text-brand-link-hover
}

.link-light {
  @apply font-semibold underline text-white hover:text-brand-link-hover
}

h1, h2, h3, h4, h5, h6 {
  @apply font-headings;
  scroll-margin-top: 45px;
}

body.no-scroll { overflow: hidden; }

html {
  @apply font-main antialiased;
}

@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cabin';
  src: url('/fonts/Cabin-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* AI Chatbot styling */

body.is-admin #chat_app { display: none !important; } 

.sc-message-list .sc-message--content.received .sc-message--text {
  margin-right: 0;
}

.sc-message--text a {
  font-size: 14px;
  word-break: break-word;
}

.sc-message--content.sent .sc-message--text {
  max-width: calc(100% - 100px);
}

.sc-message--text {
  padding: 5px 0.75rem;
  font-size: 1rem;
}

.talk-bubble-right.tri-right.right-in.round::after {
  right: -12px;
}

div#chat_app div.sc-suggestions-row button.sc-suggestions-element {
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

div#chat_app div.sc-suggestions-row button.sc-suggestions-element:hover {
  background: rgb(var(--primary-color));
  color: white !important;
}

div#chat_app .sc-launcher {
  border: 1px solid white;
  width: 70px;
  height: 70px;
  overflow: hidden;
  bottom: 60px;
  z-index: 5;
}

div#chat_app img.sc-open-icon {
  width: 75px;
  height: 50px;
  bottom: 60px;
  right: 0px;
}

div#chat_app .round {
  z-index: 1;
}

div#chat_app img.sc-closed-icon {
  width: 30px !important;
  height: 30px !important;
  bottom: 50px !important;
  right: 0 !important;
  translate: 65%;
}

div#chat_app .sc-launcher::before {
  width: 70px;
  height: 70px;
}

div#chat_app .sc-header {
  border: 1px solid white;
}

div#chat_app .talk-bubble-right {
  bottom: 65px;
}

div#chat_app .sc-launcher.opened::before {
  box-shadow: none;
}

div#chat_app .sc-chat-window {
  bottom: 140px;
}

div#chat_app .sc-new-messsages-count {
  position: fixed;
  right: 25px;
  bottom: 105px;
  top: unset;
  left: unset;
}

@media (max-width: 590px) {
  .sc-user-input--picker-wrapper div.sc-emoji-picker {
    width: calc(100vw - 50px);
  }

  div#chat_app .sc-launcher {
    bottom: 150px;
  }

  div#chat_app .sc-new-messsages-count {
    bottom: 200px;
  }

  div#chat_app .talk-bubble-right {
    bottom: 155px;
  }

  div#chat_app .sc-chat-window {
    bottom: 0px;
  }
}

/* ReCaptcha Styling */
.grecaptcha-badge { visibility: hidden !important; }

/* Loader */

    .image-loader {
        @apply w-[48px] h-[48px] inline-block relative rotate-45 
        after:left-0 after:top-0 after:w-[24px] after:h-[24px] after:bg-brand-primary after:absolute
        before:w-[24px] before:h-[24px] before:absolute before:left-0 before:top-[-24px];
    }

    .image-loader::before {
        content: '';
        animation: animloader 4s ease infinite;
    }

    .image-loader::after {
        content: '';
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        animation: animloader2 2s ease infinite;

    }

    @keyframes animloader {
        0% {
            box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
        }

        12% {
            box-shadow: 0 24px rgba(var(theme('colors.brand.primary'))), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
        }

        25% {
            box-shadow: 0 24px rgba(var(theme('colors.brand.primary'))), 24px 24px rgba(var(theme('colors.brand.primary'))), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
        }

        37% {
            box-shadow: 0 24px rgba(var(theme('colors.brand.primary'))), 24px 24px rgba(var(theme('colors.brand.primary'))), 24px 48px rgba(var(theme('colors.brand.primary'))), 0px 48px rgba(255, 255, 255, 0);
        }

        50% {
            box-shadow: 0 24px rgba(var(theme('colors.brand.primary'))), 24px 24px rgba(var(theme('colors.brand.primary'))), 24px 48px rgba(var(theme('colors.brand.primary'))), 0px 48px rgba(var(theme('colors.brand.primary')));
        }

        62% {
            box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(var(theme('colors.brand.primary'))), 24px 48px rgba(var(theme('colors.brand.primary'))), 0px 48px rgba(var(theme('colors.brand.primary')));
        }

        75% {
            box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(var(theme('colors.brand.primary'))), 0px 48px rgba(var(theme('colors.brand.primary')));
        }

        87% {
            box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(var(theme('colors.brand.primary')));
        }

        100% {
            box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
        }
    }

    @keyframes animloader2 {
        0% {
            transform: translate(0, 0) rotateX(0) rotateY(0);
        }

        25% {
            transform: translate(100%, 0) rotateX(0) rotateY(180deg);
        }

        50% {
            transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
        }

        75% {
            transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
        }

        100% {
            transform: translate(0, 0) rotateX(0) rotateY(360deg);
        }
    }